<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_mainLayout">
<div layout:fragment="content"><head>
    <meta charset="UTF-8">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h2>Detalles del Producto</h2>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${producto.nombreLLVG}"></h5>
            <p class="card-text">ID: <span th:text="${producto.id}"></span></p>
        </div>
    </div>

    <a th:href="@{/productos/edit/{id}(id=${producto.id})}" class="btn btn-warning mt-3">Editar</a>
    <a th:href="@{/productos}" class="btn btn-secondary mt-3">Regresar</a>
</div>

</body>
</html>
