<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_mainLayout">
<head>
    <title>Eliminar Orden</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
<div layout:fragment="content">
    <h1>Eliminar Orden</h1>
    <h3>¿Está seguro que desea eliminar este registro?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10" th:text="${orden.id}"></dd>

            <dt class="col-sm-2">Fecha</dt>
            <dd class="col-sm-10" th:text="${#temporals.format(orden.fechaLLVG, 'dd/MM/yyyy')}"></dd>
        </dl>

        <form th:action="@{/ordenes/delete/{id}(id=${orden.id})}" method="post">           
             <input type="hidden" name="id" th:value="${orden.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger"> |
            <a th:href="@{/ordenes}" class="btn btn-secondary">Regresar</a> 
        </form>

    </div>
</div>
</body>
</html>
