<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_mainLayout">
<head>
    <title>Eliminar Detalle de Orden</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div layout:fragment="content">
    <h1>Eliminar Detalle de Orden</h1>
    <h3>¿Está seguro que desea eliminar este registro?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.id}"></dd>

            <dt class="col-sm-2">Cantidad</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.cantidadLLVG}"></dd> 

            <dt class="col-sm-2">Precio</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.precioLLVG}"></dd> 

            <dt class="col-sm-2">Producto</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.productoLLVG.nombreLLVG}"></dd> 

            <dt class="col-sm-2">Orden</dt>
            <dd class="col-sm-10" th:text="${detalleOrden.ordenLLVG.id}"></dd> 
        </dl>

        <form th:action="@{/detallesOrden/delete/{id}(id=${detalleOrden.id})}" method="post">
            <input type="hidden" name="id" th:value="${detalleOrden.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger"> |
            <a th:href="@{/detallesOrden}" class="btn btn-secondary">Regresar</a> 
        </form>

    </div>
</div>
</body>
</html>
