<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_mainLayout">
<div layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Detalle de Orden</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-4">
    <h2>Detalles del Detalle de Orden</h2>

    <div class="card">
        <div class="card-body">
            <p class="card-text">ID: <span th:text="${detalleOrden.id}"></span></p>
            <p class="card-text">Cantidad: <span th:text="${detalleOrden.cantidadLLVG}"></span></p> 
            <p class="card-text">Precio: <span th:text="${detalleOrden.precioLLVG}"></span></p> 
            <p class="card-text">Producto: <span th:text="${detalleOrden.productoLLVG.nombreLLVG}"></span></p> 
            <p class="card-text">Orden: <span th:text="${detalleOrden.ordenLLVG.id}"></span></p>
            <p class="card-text">Fecha: <span th:text="${#temporals.format(detalleOrden.ordenLLVG.fechaLLVG, 'dd/MM/yyyy')}"></span> </p> 
        </div>
    </div>

    <a th:href="@{/detallesOrden/edit/{id}(id=${detalleOrden.id})}" class="btn btn-warning mt-3">Editar</a>
    <a th:href="@{/detallesOrden}" class="btn btn-secondary mt-3">Regresar</a>
</div>

</body>
</html>
